.section {
  position: relative;
  margin: 0 auto;

  width: 1200px;
  height: 800px;
}

@media screen and (max-width: 479px) {
  .section {
    max-width: 100%;
    height: 600px;
  }
}

@media screen and (min-width: 480px) {
  .section {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .section {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    width: 1200px;
  }
}

.icon {
  position: absolute;
}

.is-animated {
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.lighthouse {
  top: 150px;
  left: 50px;

  display: block;
  fill: tomato;

  animation-name: animateLighthouse;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes animateLighthouse {
  0% {
    transform: perspective(700px) rotateY(0);
  }

  100% {
    transform: rotateY(30deg);
  }
}

.marine {
  display: block;
  top: 320px;
  left: 0;
  z-index: 1;
  fill: cadetblue;

  animation-name: animateMarine;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes animateMarine {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(12vw);
  }
}

.anchor {
  display: block;
  z-index: 1;
  top: 410px;
  left: 3%;
  fill: rgb(38, 38, 82);

  animation-name: animateAnchor;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes animateAnchor {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.penguin-1 {
  top: 480px;
  left: 0;
  display: block;
  fill: rgb(46, 44, 44);

  animation-name: animatePenguin;
  animation-duration: 500ms;
  animation-direction: alternate;
}

.penguin-2 {
  top: 480px;
  left: 100px;
  display: block;
  fill: rgb(46, 44, 44);

  animation-name: animatePenguin;
  animation-duration: 500ms;
  animation-direction: alternate;
}

.penguin-3 {
  top: 580px;
  left: 65px;
  display: block;
  fill: rgb(46, 44, 44);

  animation-name: animatePenguin;
  animation-duration: 500ms;
  animation-direction: alternate;
}

@keyframes animatePenguin {
  0% {
    transform: perspective(400px) rotateZ(-4deg);
  }

  50% {
    transform: perspective(0px) rotateZ(0);
  }

  100% {
    transform: perspective(400px) rotateZ(4deg);
  }
}

@media screen and (max-width: 767px) {
  .sun {
    display: none;
  }
  .cloud {
    display: none;
  }
  .cloud-2 {
    display: none;
  }
  .train {
    display: none;
  }
  .truck {
    display: none;
  }
  .bicycle {
    display: none;
  }
  .bus {
    display: none;
  }
  .car {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .sun {
    display: block;
    top: 5%;
    right: 25%;
    fill: rgb(247, 247, 126);
    animation-name: animateSun;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  @keyframes animateSun {
    0% {
      transform: rotateZ(0);
    }

    100% {
      transform: rotateZ(360deg);
    }
  }

  .cloud {
    display: block;
    top: 0px;
    left: 0px;
    fill: lightskyblue;
    animation-name: animateCloudLeft;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  @keyframes animateCloudLeft {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(30vw);
    }
  }

  .cloud-2 {
    display: block;
    top: 200px;
    right: 0;
    z-index: 1;

    fill: lightskyblue;
    animation-name: animateCloud;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  @keyframes animateCloud {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-15vw);
    }
  }

  .train {
    display: block;
    bottom: 50%;
    right: 50%;

    transform: translate(-50%, -50%);

    fill: aquamarine;

    animation-name: animateTrain;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  @keyframes animateTrain {
    0% {
      transform: scale(0);
    }

    100% {
      transform: scale(3);
    }
  }

  .bicycle {
    display: block;
    bottom: 50%;
    right: 0;
    fill: darkgreen;

    animation-name: animateBicycle;
    animation-duration: 8s;
  }
  @keyframes animateBicycle {
    0% {
      transform: translateX(100vw);
    }

    50% {
      transform: translateX(-20vw);
    }

    100% {
      transform: translateX(100vw);
    }
  }

  .bus {
    display: block;
    bottom: 25%;
    right: 5%;
    fill: rgb(255, 146, 51);
    color: tomato;
    font-size: 20px;

    animation-name: animateBus;
    animation-duration: 1.5s;
    animation-direction: alternate;
  }

  @keyframes animateBus {
    0% {
      transform: scale(1) translateY(2px) rotateX(2deg);
    }

    50% {
      transform: scale(0.9) translateY(0) rotateX(0deg);
    }

    100% {
      transform: scale(1) translateY(-2px) rotateX(-2deg);
    }
  }

  .car {
    display: block;
    bottom: 20%;
    right: 35%;
    fill: rgb(252, 225, 18);

    animation-name: animateCar;
    animation-duration: 500ms;
    animation-timing-function: linear;
    animation-direction: alternate;
  }

  @keyframes animateCar {
    0% {
      transform: perspective(400px) translateY(3px);
    }

    50% {
      transform: perspective(400px) translateY(0);
    }

    100% {
      transform: perspective(400px) translateY(-3px);
    }
  }

  .truck {
    display: block;
    bottom: 0;
    left: 0;
    fill: rgb(86, 86, 251);

    animation-name: animateTruck;
    animation-duration: 5s;
  }

  @keyframes animateTruck {
    0% {
      transform: translateX(0);
      opacity: 1;
    }

    50% {
      transform: translateX(50vw);
      opacity: 1;
    }

    100% {
      transform: translateX(100vw);
      opacity: 0;
    }
  }
}

/* .paw {
  position: absolute;
  display: none;
}

.paw-left {
  display: none;
  bottom: 0%;
  right: 57%;

  animation-name: animatePawLeft;
  animation-duration: 2.5s;
}

@keyframes animatePawLeft {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  20% {
    transform: translateY(-50px);
    opacity: 0;
  }

  40% {
    transform: translateY(-100px);
    opacity: 1;
  }

  60% {
    transform: translateY(-150px);
    opacity: 0;
  }

  80% {
    transform: translateY(-200px);
    opacity: 1;
  }

  100% {
    transform: translateY(-250px);
    opacity: 0;
  }
}

.paw-right {
  display: none;
  bottom: 0;
  right: 50%;

  animation-name: animatePawRight;
  animation-duration: 2.5s;
}

@keyframes animatePawRight {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  20% {
    transform: translateY(-50px);
    opacity: 1;
  }

  40% {
    transform: translateY(-100px);
    opacity: 0;
  }

  60% {
    transform: translateY(-150px);
    opacity: 1;
  }

  80% {
    transform: translateY(-200px);
    opacity: 0;
  }

  100% {
    transform: translateY(-250px);
    opacity: 1;
  }
}

.rocket {
  display: none;
  bottom: 0;
  left: 0;
  fill: rgb(191, 64, 25);

  animation-name: animateRocket;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 500ms;
}

@keyframes animateRocket {
  0% {
    transform: translate(0);
    opacity: 1;
  }

  100% {
    transform: translate(100vw, -100vh);
    opacity: 0;
  }
} */
